@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15
}

main {
  display: block
}

h1 {
  color: rgba(255, 255, 255, 0.25);
}

.nav li {
  color: #9A9A9A;
  font-size: 18px;
  border-bottom: 1px solid #FFFFFF;
}

.nav .active {
  color: #FFFFFF;
  border-bottom: 1px solid blue;
}

body {
  color: #d1d1d1;
  background: #1E1E1E;
  font-family: IBM Plex Mono, monospace !important;
  margin: 0;
}

.modal-box {
  background: #1E1E1E;
}

h1,h2 {
  font-weight: 100
}

h2#typing {
  animation: typing 8s infinite steps(15);
}

h2#typing::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background: #dadada;
  right: 0;
  top: 0;
  animation: cursor 1.5s infinite;
}

#languages-list img {
  filter: grayscale(100%);
  transition: .5s;
}

#languages-list img:hover {
  filter: grayscale(0%);
}

#project-list:hover h2 {
  transition: 1s;
  display: block;
}

footer {
  color: #FFF;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  90% {
    width: 0;
  }
  100% {
    width: 0;
    animation-timing-function: steps(1);
    animation-iteration-count: 1;
  }
}

@keyframes cursor {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.project-card {
  transition: transform .1s;
  overflow: hidden;
}

.project-card:hover{
  -ms-transform: scale(1.5) !important;
  -webkit-transform: scale(1.5) !important;
  transform: scale(1.5) !important;
}

.card.image-full > figure img {
  object-fit: none !important;
}